/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);*/

body,h1, h2,h3,h4,h5,h6,p,a,ul{
/*	font-family: 'Open Sans', 'sans-serif';*/
    font-family: "helvetica neue",helvetica,sans-serif;
    line-height: 0;
}

h1, h2,h3,h4,h5,h6,p,a,ul{
	line-height: 1;
}

h1, h2,h3,h4,h5,h6,p{
    margin: 0px;
}

h1{
	font-size:48px;
	font-weight:600;
	text-transform:uppercase;   
    color: #2e2e35;
}
h2{
	font-size:36px;
	font-weight:400;
}
h3{
	font-size:24px;
	font-weight:400;
}
h4{
	font-size:21px;
	font-weight:300;
}
h5{
	font-size:18px;
	font-weight:300;
}
h6{
	font-size:16px;
	font-weight:300;
}
p{
	font-size:14px;
	line-height:24px;
	font-weight:400;
    
    color: #555;
}
ul{
	font-size:14px;
	font-weight:400;
	line-height:28px;
    color: #777;
}

/* the trick  */

.simple:before{
	content:'';
	display: inline-block;
	vertical-align: baseline;
	height:24px;
}
.simple:after{
	content:'';
	display: inline-block;
	vertical-align: -24px;
	height:24px;
}
.double:before{
	content:'';
	display: inline-block;
	vertical-align: baseline;
	height:48px;
}
.double:after{
	content:'';
	display: inline-block;
	vertical-align: -24px;
	height:48px;
}

.up{
	margin-top: -24px;
}
.down{
	margin-top: 24px;
}



.main_navigation li a p{
	text-transform:uppercase;
	font-weight:500;
    letter-spacing: 0.7px;
}
.pricing .item .icon {
    font-size: 48px;
    line-height: 120px;
}
.single_events .fa{
	font-size:36px;
	line-height:70px;
}
.sidebar_content .fa{
	font-size:36px;
	line-height:60px;
}

.styled div span{
	font-size:14px;
    font-weight: 400;
    letter-spacing: 1px;
}
.contact_form input[type="text"]{
	line-height:1;
}
.contact_form textarea{
	line-height:1;
}