body{
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100vw;
}

#container{
    background-color: rgba(250, 175, 159, 0.3);
    width: 50%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    height: 40%;
    position: relative;
    justify-content: space-around;
}

#tick{
    height: 40%;
    margin-top: 5%;
    margin-right: 2%;
    flex-shrink: 5;
}

#text{
    color: #c52424;
    font-size: 1.5em;
    margin-top:4%;
    flex-shrink: 5;
}

#logo{
    flex-shrink: 5;
    height: 20%;
    width: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media (max-width: 1024px){
    #text{
        font-size: 1em;
    }
}