body {
    background-color: #eee;
}

#header{
    margin-bottom: 5%;
}
#img{
background-color: rgba(32,165,108,0.3)
}

#title{
    text-align: center;
}

*[role="form"] {
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

footer{
    margin-top: 10%;
    height: 30px;
    width: 100%;
    background-color: rgba(32,165,108,0.3)
}

#sourceimg{
    height: 127px;
    width: auto;
}